.body{
    width:200px; 
    border-left: 2px solid var(--foreground);
    border-top:  2px solid var(--foreground);
    border-bottom: 2px solid var(--foreground);
    border-right: 2px solid var(--foreground);
    margin-left: 10px;
}

.titleContainer{
    padding:5px; 
    padding-left: 10px;
    width: 93%; 
    border-bottom: 2px solid var(--foreground);
    height: 56px;
    position: relative;
}

.taskContainer{
    padding:5px;
    min-height: 150px;


}

.task{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    width:180px
}

.checkbox{
}
.label{
    margin-left:10px;
}


.createContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.create{
    padding:5px;
    background-color: var(--background);
    width:100px;
    border-radius: 5px;
    margin-top: 15px;
}

.delete{ 
    position: absolute;
    top: 10px; 
    right:10px;
    opacity: 0;
    visibility: visible;
    color: blue;
    padding:10px;
    font-size: 20px;
}

.delete:hover{
    opacity: 100;
    cursor: pointer;
}

.createContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.create{
    padding:5px;
    background-color: var(--background);
    width:100px;
    border-radius: 5px;
    margin-top: 15px;
}


.create:hover{
    border: 2px solid gray;
    color:gray;
}

.titleInput{
    margin-bottom:16px;
    margin-Top:16px;
    height:20px;
    padding: 2px;
    width: 90%;
}
